@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 8%;
    align-items: center;
}

.logo img {
    height: 80px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links img {
    height: 32px;
    border-radius: 10px;
}

.nav-links a {
    padding: 8px 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

#contact-num {
    padding: 8px 25px;
    font-size: 18px;
    font-weight: 500;
    pointer-events: none;
}

.nav-links a:hover {
    border-bottom: 5px solid #19b2ef;
}

.main-content {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90%;
    color: #1c1c1c;
}

.main-content h2 {
    margin: 2rem 0;
    text-align: center;
    font-size: 32px;
}

.service-row {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-around;
}

.service-text {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.service-row .service-text h3 {
    font-size: 26px;
}

.service-image img {
    height: 300px;
    border-radius: 5px;
}

.service-row:nth-child(odd) {
    background: rgb(245, 245, 245);
}




.section1 {
    margin-top: 10rem;
    text-align: center;
    color: #1c1c1c;
}

.section-title {
    font-size: 36px;
}

.section-note {
    color: #939090;
    margin-bottom: 2rem;
}

.procedure-card {
    padding-bottom: 2rem;
}

.procedure-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 1rem 0;
}

.procedure-images {
    display: flex;
    justify-content: center;
}

.procedure-images h3 {
    font-weight: 300;
}

.procedure-images img {
    height: 300px;
    border-radius: 5px;
    margin: 0 1.5rem;
    transition: ease-out .2s;
    cursor: pointer;
}

.procedure-images img:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 2rem;
    height: 150px;
    background: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 15px;
}

.footer-links a {
    font-weight: 500;
    text-decoration: none;
    padding: 10px 25px;
    background: #19b2ef;
    border-radius: 5px;
    color: #fff;
}

.footer-links a:hover {
    outline: 3px solid #19b2ef;
    color: #19b2ef;
    background: none;
}

@media(max-width: 576px) {
    nav {
        display: none;
    }

    footer {
        display: flex;
        height: 40vh;    
        justify-content: center;
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .logo h1 {
        font-size: 22px;
    }

    .preventive-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .preventive-container .card {
        height: 300px;
        width: 320px;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .procedure-images {
        display: flex;
        flex-direction: column;
    }

    .procedure-images img {
        height: 300px;
        width: 320px;
    }
}

@media only screen 
and (min-width : 1224px) {
    .logo {
        font-size: 10px;
    }

    .nav .links {
        gap: 1rem;
    }
}