@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 17, 17);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 8%;
    align-items: center;
}

.logo img {
    height: 80px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links img {
    height: 32px;
    border-radius: 10px;
}

.nav-links a {
    padding: 8px 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-links a:hover {
    border-bottom: 5px solid #19b2ef;
}

.main-content h1 {
    text-align: center;
    padding: 1rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2rem;
}

.hero video {
    width: 600px;
    border-radius: 15px;
}

.deets {
    color: #1c1c1c;
}

.deets p {
    line-height: 1.8rem;
}

.footer {
    margin-top: 3rem;
    background: #00b7ff69;
    padding: 1rem 2rem;
    text-align: center;
}

.preventive-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.preventive-container .card {
    height: 500px;
    width: 420px;
    background: #888;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    cursor: pointer;
    transition: all ease-out .2s;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}

.preventive-container .card .card-title {
    margin-top: 50%;
    text-align: center;
    font-size: 22px;
}

.preventive-container .card:hover .card-title {
    margin-top: 0%;
}

.card:hover {
    transform: scale(1.10);
    border-radius: 20px;
}

.preventive-container .card .card-desc {
    margin-top: 9rem;
}

.preventive-container .card:hover .card-desc {
    display: flex;
}

.preventive-container .card .card-desc {
    display: none;
}

#xray {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url('/assets/xray.jpg');
    background-position: center;
    background-size: cover;
}

#sealants {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url('/assets/sealant.jpg');
    background-position: center;
    background-size: cover;
}

#visits {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url('/assets/visits.JPG');
    background-position: center;
    background-size: cover;
}

.section1 {
    margin-top: 5rem;
    text-align: center;
    color: #1c1c1c;
}

.section-title {
    font-size: 36px;
}

.section-note {
    color: #939090;
    margin-bottom: 2rem;
}

.procedure-card {
    padding-bottom: 2rem;
}

.procedure-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 1rem 0;
}

.procedure-images {
    display: flex;
    justify-content: center;
}

.procedure-images h3 {
    font-weight: 300;
}

.procedure-images img {
    height: 300px;
    border-radius: 30px;
    margin: 0 1.5rem;
    box-shadow: 12px 16px 28px 0px rgba(0,0,0,0.65);
    transition: ease-out .2s;
    cursor: pointer;
}

.procedure-images img:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 2rem;
    height: 150px;
    background: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 15px;
}

.footer-links a {
    font-weight: 500;
    text-decoration: none;
    padding: 10px 25px;
    background: #19b2ef;
    border-radius: 15px;
    color: #fff;
}

.footer-links a:hover {
    outline: 3px solid #19b2ef;
    color: #19b2ef;
    background: none;
}


@media(max-width: 576px) {
    nav {
        display: none;
    }

    footer {
        display: flex;
        height: 40vh;    
        justify-content: center;
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 35px;
    }

}


@media only screen and (max-width: 600px) {
    
    .main-content h1 {
        margin-top: 2rem;
    }
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .deets {
        margin-top: 1rem;
        text-align: center;
        line-height: 1.8rem;
    }

    .hero video {
        width: 100%;
    }

    .logo h1 {
        font-size: 22px;
    }

    .procedure-images {
        display: flex;
        flex-direction: column;
    }

    .procedure-images img {
        width: 330px;
        height: 200px;
    }
    

}

@media only screen 
and (min-width : 1224px) {
    .logo {
        font-size: 10px;
    }

    .nav .links {
        gap: 1rem;
    }
}