@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
    background-color: #e2e2e2;
}

.main {
    height: 100vh;
    background-image: linear-gradient(rgba(3,3,3,.2),rgba(3,3,3,.1)), url('assets/bg.JPG'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 1.3rem 7%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;;
    z-index: 100;
}


.logo {
    font-style: none;
    text-decoration: none;
    color: #fff;
}

.navbar a {
    font-size: 1.15rem;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
    cursor: pointer;
    transition: ease-in-out .15s;
}

.navbar a:hover {
    border-bottom: 3px solid rgb(74, 104, 255);
}

.main-content {
    top: 12rem;
    left: 5rem;
}

.appointment {
    position: absolute;
    top: 8rem;
    left: 7rem;
    width: 30%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 8px;
    color: #474747;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.appointment .row {
    margin: 1rem 0;
}

.appointment input {
    padding: .3rem;
    border-radius: 8px;
    border: none;
}

.appointment button {
    width: 50%;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin-top: 1.5rem;
    padding: .8rem .3rem;
    font-size: 18px;
    font-weight: 500;
    background: rgb(74, 104, 255);
    color: #fff;
    cursor: pointer;
    transition: ease-in-out .15s;
}

.appointment button:hover {
    background: transparent;
    outline: 3px solid rgb(74, 104, 255);
    color: rgb(74, 104, 255);
    scale: 1.05;
}

textarea {
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 8px;
}


.section1 {
    height: 100vh;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 .card {
    height: 470px;
    width: 330px;
    padding: .5rem;
    border-radius: 5px;
    background: rgba(108, 108, 108, 0.6);
    backdrop-filter: blur(50px);
    color: #fff;
}

.card .image img {
    position: relative;
    border-radius: 5px;
    width: 315px;
    height: 215px;
}

.card .title {
    padding: .5rem;
    color: #fff;
}

.card .text {
    padding: .5rem;
    font-size: 14px;
}

.card button {
    font-size: 14px;
    padding: .5rem;
    margin-left: 0.3rem;
    background:  rgb(74, 104, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out .15s;
}

.card button:hover {
    background: transparent;
    outline: 3px solid rgb(74, 104, 255);
    color: rgb(74, 104, 255);
    scale: 1.05;
}

.invisalign {
    position: relative;
}


.back-video {
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media (min-aspect-ration: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ration: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.section2 {
    position: relative;
    padding: 3rem 1.5rem;
}

.section2 h1 {
    text-align: center;
    font-size: 48px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container .left, .right {
    padding: 2rem 3rem;
}

.container img {
    height: 500px;
    border-radius: 8px;
}

.container .right p {
    font-size: 22px;
    line-height: 2.3rem;
}

.container .right button {
    font-size: 18px;
    margin-top: 2rem;
    padding: .8rem;
    background:  rgb(74, 104, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out .15s;
}

.container .right button:hover {
    background: transparent;
    outline: 3px solid rgb(74, 104, 255);
    color: rgb(74, 104, 255);
    scale: 1.05;
}

.container .right ul {
    margin-top: 1rem;
    line-height: 1.4rem;
}

.container .right ul li {
    font-size: 14px;
}